*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    height: 100vh;
    overflow: hidden;
}

.piano {
    display: flex;
}

.key {
    height: calc(var(--width)*4);
    width: var(--width);
    cursor: pointer;
}

.black {
    position: relative;
    --width: 60px;
    background-color: #000;
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index: 10;
}

.black.active {
    background-color: #222;
}

.white {
    --width: 100px;
    background-color: #fff;
    border-right: 1px solid #000;
}

.white.active {
    background-color: #ddd;
}
