* {
    /* border: 1px solid red; */
    font-family: "Avenir"
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


/* Header */
header {
    background-color: #1f2937;
    color: #f9faf8;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: white 2px solid;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-element a {
    color: #f9faf8;
    text-decoration: none;
    margin: 0 20px;
}

.header-logo {
    display: flex;
}
.header-logo img {
    /* flex: 1 1 50px; */
    max-height: 50px;
    
}

/* Hero Banner */
.hero {
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}



.hero-image {
    flex: 1 1 50%;
    max-width: 400px;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    max-width: 500px;
    margin-bottom: 10px;
}



.hero-text button {
    align-self: flex-start;
}

/* Random-info Section */

.random-info-items img {
    min-width: 100px;
    border: 3px solid #4448a6;
    border-radius: 3px;
}

.random-info-items {
    display: flex;
    justify-content: center;
}

.random-info-items div {
    display: flex;
    margin: 0px 20px;
    /* flex: 1 1 calc(25%-40px); */
    flex-direction: column;
    align-items: center;
}
.random-info-items div img {
    max-width: 100px;
}

.random-info h2 {
    text-align: center;
}

/* Quote */ 
/* .quote {
    display: flex;
} */
.quote {
    background-color: lightgray;
}

.quote p {
    padding:30px 50px;
}

.quote h3 {
    float: right;
    margin-top: -10px;
    margin-right: 30px;
}

/* Call to Action */ 

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}



.cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 30px 20px;
    margin: 50px 0;
    background-color: lightskyblue;
    border-radius: 10px;
}

.cta-text > * {
    flex: 1 1 10px;
    margin: 0;
    
    
}

.cta-text div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer */
.copyright {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
}

button {
    background-color: darkcyan;
    border: 3px white solid;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    height: 40px;
}




